{% extends "app.html" %}
{% block css %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='home.css') }}" />
{% endblock %}
{% block title %}Page Not Found{% endblock %}
{% block content %}

<div id="overlay">
  <div class="overlay-content">
    <h1 class="text-light">404 Error</h1>
    <p class="text-light">Sorry, but it seems there's nothing here!</p>
    <form action="{{ url_for('home') }}">
      <button type="submit" class="btn btn-light btn-lg text-primary">Go Home</button>
    </form>
  </div>
</div>
  {% endblock %}
